$main-color:#F5EFEB;
$body-bg: #F5EFEB; 


$headings-font:'Merriweather','New Times Roman', serif;
$headings-color:#A66E66;
$heading3-font:'Poppins', Helvetica, Arial, sans-serif;

$p-font: 'Poppins', Helvetica, Arial, sans-serif;
$p-color:#505766;
$footer-text-color: #505766;



