$main-color:#F5EFEB;
$body-bg: #F5EFEB;

$headings-font:'Merriweather','New Times Roman', serif;
$headings-color:#505766;

$p-font: 'Poppins', Helvetica, Arial, sans-serif;
$p-color:#434345;

$footer-text-color: #A66E66;



