@import '_vars';
@import 'modules/_navbar';
@import 'modules/_desserts';
@import 'modules/_header';
@import 'modules/_lightbox';
@import 'modules/_errors';


body { 
    background-color: $body-bg;
}

h1, h2, h3 { color: $headings-color; }



.panel { min-height: 80vh; }

.panel:nth-child(odd) {
    color:#F5EFEB;
}


@import 'modules/_footer'
