<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

     <link rel="stylesheet" href="css/main.css">
    
    <title>Opps! something broke</title>
</head>
<body>
   <main class="error-wrapper">

        <div class="img-wrapper">
            <img src="images/404_error.svg" id="404-image" alt=" 404 Error image">
            <h1>{{ data.status }}</h1>
        </div>
        {{{ body }}}
        
       
   </main>
    
</body>
</html>